body{
	border: 0;
	margin: 0;
	color: #221100;

}

.button{
	flex: 1;
}
.saveChanges{
	top: 80%;
	right: 70%;
}
textarea.contentInput{
	border-radius: 3px;
	border: 1px black solid;
	margin: 5px;
	resize: none;
	float: left;
	width: 500px;
	height: 250px;
	background: #FCE9DE;
}
.titleInput{
	border-radius: 3px;
	margin: 5px;
	border: 1px black solid;
	width: 200px;
	background: #black;
}

header{

	background: #B5907A;

    font-family: 'Open Sans', sans-serif;
	position: absolute;
	height: 10%;
	width: 100%;
	text-align: center;
}
header p{
	flex: 1;
	font-size: 60px;
	position: absolute;
	left: 25%;
	top: -60px;
}
article{
	position: absolute;
	top:10%;
	overflow: auto;
	height: 90%;
	width: 100%;
}
#addBtn{
position: relative;
	margin: 15px;
	float: left;
}
.center{
	text-align: center;
}

.noteTitle{
	float: left;
	margin: 3px;
	font-size: 20px;
	pointer-events: none;
}
.editBtn{
	float: right;
	margin: 3px;
	padding: 0;
}
.xBtn{
	float: right;
	margin: 3px;
	padding: 0;
}
.noteContent{
	margin: 3px 2% 3px 2%;
	float: left;
	text-align: left;
	pointer-events: none;
	width: 90%;
	height: 69%;
	background: #FCE9DE;
	border-radius: 5px;
	border: black solid 1px;
	padding: 5px;
}
.written{
	margin: 7px;
	color: red;
}
button:hover{
	background-color: grey;
	background: #FFE9D2;
}
.addNote{
	overflow: hidden;
	border-radius: 5px;
	align-content: left;
	float: left;
	margin: 25px;
	width: 42%;
	height: 300px;
	border: 1px black solid;
	background-color: #A77A60;
	overflow: auto;

}

.selected{
	transform: scale(1.1);
	animation: selectedExpand 2s;
}
@keyframes selectedExpand{
	0%{transform: scale(1);}
	99%{transform: scale(1.1);}

}
.edit{
	padding: 5px;
	position: fixed;
	top: 30%;
	left: 30%;
	width: 550px;
	height: 340px;
	background: #A77A60;
	border-radius: 5px;
	border: black 1px solid;
}
.createDate{
	margin:0 0 0 5px	;
	top:65%;
	float: left;
	font-size: 14px;
}
.editDate{
	margin: 3px 0 0 5px;
	top: 61%;
	float: left;
	font-size: 14px;
}

@media only screen and (max-width: 768px){


	header p{
		font-size: 40px;
		position: absolute;
		left: 23%;
		top: -35px;
	}
	#addBtn{
		margin: 15px;

	}
	.addNote{
		margin: 25px 10% 0 10%;
		width: 80%;
	}
	.edit{
		left: 3%;
		width: 90%;
	}
	textarea.contentInput{
		width: 90%;
	}
}
@media only screen and (max-width: 480px){
	header p{
		font-size: 20px;
		margin: 0;
		top: 12px;
		right: 10%;
	}
	article{
		margin: 0;
		padding: 0;
	}
		.addNote{
		margin: 25px 10% 0 10%;
		width: 80%;
	}
	.edit{
		left: 3%;
		width: 80%;
	}
	textarea.contentInput{
		width: 80%;
	}
	.noteContent{
		height: 63%;
	}


}
