body{
	margin: 0;
	overflow: hidden;
}
input.noteContent{
	float: left;
	width: 380px;
	height: 150px;
}
input.noteTitle{
	width: 300px;
}
#container{
	overflow: hidden;
	height: 100vh;
	width: 100vw;
}
header{
	position: absolute;
	top: 0;
	background-color: red;
	height: 10%;
	width: 100%;
	border: 1px black solid;
}
section{
	padding: 10px;
	position: absolute;
	top:10%;
	background-color: green;
	float: left;
	height: 100%;
	width: 10%;
	border: 1px black solid;

}
article{
	position: absolute;
	top:10%;
	width: 100%;
	overflow: auto;
	background-color: yellow;
	height: 100%;
	border: 1px black solid;

}

#addBtn{
	box-shadow: 2px 2px 2px black;
}

.noteTitle{
	float: left;
	margin: 3px;
	font-size: 20px;
	pointer-events: none;
}
.editBtn{
	float: right;
	margin: 3px;
	padding: 0;
	box-shadow: 2px 2px 2px black;
}
.xBtn{
	float: right;
	margin: 3px;
	padding: 0;
	box-shadow: 2px 2px 2px black;


}
.noteContent{
	margin: 0px 3px 3px 3px;
	float: left;
	text-align: left;
	pointer-events: none;
}

.written{
	margin: 7px;
	color: red;
}
button:hover{
	background-color: grey;
}

.addNote{
	overflow: hidden;
	border-radius: 5px;
	align-content: left;
	float: left;
	margin: 25px;
	width: 400px;
	height: 200px;
	border: 1px black solid;
	background-color: green;
	overflow: auto;
	animation: fadeIn 2s;
	opacity: 1;
	box-shadow: 12px 12px 10px black;	
}
@keyframes fadeIn{
	0%{opacity: 0;}
	1%{box-shadow: 0px 0px 0px black;	}
	50%{opacity: 1;}
	100% {box-shadow: 12px 12px 10px black;	}
}
.selected{
	transform: scale(1.1);
	box-shadow: 14px 14px 12px black;
	animation: selectedExpand 2s;
}
@keyframes selectedExpand{
	0%{transform: scale(1)}
	1%{box-shadow: 12px 12px 10px black;}
	99%{transform: scale(1.1);}
	100% {box-shadow: 14px 14px 12px black;}
}
.edit{
	position: absolute;
	top: 30%;
	left: 30%;
	width: 400px;
	height: 200px;
	background: lightgreen;
	border-radius: 5px;
	border: black 1px solid;
}